/* Commande */
body
{
    font-family: 'Times New Roman', Times, serif;
    margin: 25px 5%;
    /*background-color: rgb(174, 208, 226);*/
    background-image: url("../image/bg/bg_2.jpg");
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

header h1{
    text-align: center;
}

#principal{
    margin-top: 2%;
    margin-left: 3%;
}

#submit{
    float: right;
}

#page1{
    margin: 23px 10%;
}

table{
    border: 1px solid black;
    color: white;
    margin:auto;
    text-align: center;
    display: table;
	 	
    width: 100%; 
    background: #734e22;
    margin: 0;
    box-sizing: border-box;
    border:0;
}

button{
    float: right;
}

.btn-space {
    margin-right: 15px;
}

label{
    font-weight: bold;
}

.ch{
    width: 35%;
    height:30px;
}

footer, p{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #4d2006
    /*margin: 250px 3%;
    background: wheat;
    padding: 2rem;*/
}
